USE [master]
GO
/****** Object:  Database [TestDB_2021_CS_15]    Script Date: 1/20/2023 11:08:46 AM ******/
CREATE DATABASE [TestDB_2021_CS_15]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB_2021_CS_15', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021_CS_15.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_2021_CS_15_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021_CS_15_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB_2021_CS_15].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB_2021_CS_15]
GO
/****** Object:  Table [dbo].[student table]    Script Date: 1/20/2023 11:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student table](
	[Name] [nchar](10) NULL,
	[CNIC] [nchar](10) NULL,
	[Roll no.] [nchar](10) NULL,
	[Subject] [nchar](10) NULL,
	[Address] [nchar](10) NULL,
	[Phone no.] [nchar](10) NULL,
	[Fees] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
